body {
  font-family: Roboto, sans-serif;
  color: #434455;
  background-color: #ffffff;
  letter-spacing: 0.02em;
}

img {
  display: block;
}

button {
  cursor: pointer;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.page-container {
  display: flex;
  flex-direction: column;
}

.container {
  width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

/*-- Header --*/

.header {
  border-bottom: 1px solid #e7e9fc;
}

.header-container {
  display: flex;
  align-items: center;
}

.header-navigation {
  display: flex;
  align-items: center;
}

.header-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 117%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
  color: #4d5ae5;
  margin-right: 76px;
}

.header-logo-navy {
  color: #2e2f42;
}

.header-menu-list {
  display: flex;
  align-items: center;
  gap: 40px;
}

.header-menu-link {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  padding: 24px 0;
}

.header-menu-link:hover,
:focus {
  color: #404bbf;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
}

.header-contacts {
  font-style: normal;
  display: flex;
  margin-left: auto;
  align-items: center;
}

.header-contacts-list {
  display: flex;
  align-items: center;
  gap: 40px;
}

.header-contacts-link {
  letter-spacing: 0.02em;
  line-height: 1.5;
  color: #434455;
}
.header-contacts-link:hover,
:focus {
  color: #404bbf;
}

/*-- Hero --*/

.hero-section {
  background-color: #2e2f42;
  padding-top: 188px;
  padding-bottom: 188px;
}

.hero-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero-page-title {
  color: #ffffff;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  max-width: 496px;
}

.hero-section-btn {
  background-color: #4d5ae5;
  color: #ffffff;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  border: none;
  border-radius: 4px;
  min-width: 169px;
  height: 56px;
}

.hero-section-btn:hover,
:focus {
  background-color: #404bbf;
}

/*-- Features --*/

.features-section {
  padding-top: 120px;
  padding-bottom: 120px;
}

.features-container {
  display: flex;
  align-items: center;
}

.features-list {
  display: flex;
  align-items: center;
  gap: 24px;
}

.features-list-item {
  align-items: center;
  width: calc((100% - 3 * 24px) / 4);
}

.features-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: #2e2f42;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.features-descr {
  line-height: 1.5;
  margin-bottom: 8px;
}

/*-- Team --*/

.team-section {
  background-color: #f4f4fd;
  padding-top: 120px;
  padding-bottom: 120px;
  display: flex;
  align-items: center;
}

.team-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}

.team-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 24px;
}

.team-list-item {
  background-color: #ffffff;
  border-radius: 0px 0px 4px 4px;
}

.team-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.team-descr {
  line-height: 1.5;
}

.name-card {
  padding-top: 32px;
  padding-bottom: 32px;
  text-align: center;
}

/*-- Portfolio --*/

.portfolio-section {
  padding-top: 120px;
  padding-bottom: 120px;
}

.portfolio-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}

.portfolio-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.portfolio-descr {
  line-height: 1.5;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.portfolio-list-item {
  width: calc((100% - 48px) / 3);
}

.portfolio-card {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

/*-- Footer --*/

.footer {
  background-color: #2e2f42;
  padding-top: 100px;
  padding-bottom: 100px;
}

.footer-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 117%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
  color: #4d5ae5;
  display: inline-block;
  margin-bottom: 16px;
}

.footer-logo-navy {
  color: #f4f4fd;
}

.copyright-text {
  color: #f4f4fd;
  line-height: 1.5;
  max-width: 264px;
}
